[flake8]
max-line-length = 127
max-complexity = 10
exclude =
    migrations/
    __pycache__/
    manage.py
    settings/
    venv/
    .venv/
    env/
    .env/
    .git/
    .tox/
    build/
    dist/
    site-packages/
    node_modules/
ignore =
    E501,
    W503,
    E203,
    F401
per-file-ignores =
    __init__.py:F401
    */migrations/*:E501,F401
    */tests/*:E501
    */test_*:E501